html, p, body, nav, section, article, li, div, h2, h1, img, ul {
	margin: 0 auto;
	padding: 0;
	font-family: "Helvetica", sans-serif;

}

.top {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
}

.nav-header {
	float: left;
	 
}

.nav-header>li{
	list-style-type: none;
	float: left;
	padding-top: .5em;
	font-size: 1em;
}

.menu-icon {
	padding-top: 20px;
	margin-left: 40px;
	cursor: pointer;
	position: relative;
}

.nav-list {
	background-color: ;
	width: 100%;
	padding: 10px;
	position: relative;
	right: -10px;
	display: none;
}

.nav-list li {
	display: block;
	float: right;
	margin-bottom: 20px;
	padding-bottom: 0;
	padding-right: 20px;
	padding-top: 20px;
}

.stories-head {
	padding-top: 1em;
	text-align: none;
	padding-left: 2.5em;
	margin-bottom: 1em;
}

.stories{
	float: left;
}

.images {
	width: 100%;

}


img {
	max-width: 100%;
}

@media (min-width: 960px){
	.images{
		max-width: 61.75em;
		padding: 0 1em;
		margin: 0 auto;
	}

	.menu-icon {
		display: none;
	}
}